---

---

<footer class="bg-black text-white p-6">
  <h2 class="hidden">Footer</h2>
  <p class="outfit">
    © 2023 <span class="px-2">·</span> Powered by <a
    href='https://astro.build/'
    target='_blank'
    class='text-blue-400 underline'>Astro</a
  >
  </p>
</footer>
