---
import Layout from "@layouts/Default.astro";
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import { Button, Pill } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";
import profileImg from "../assets/profile-image.jpg";
import { Image } from "astro:assets";

const skills = [
  "JavaScript",
  "TypeScript",
  "Expo",
  "NPM",
  "Next.js",
  "Node.js",
  "React",
  "React Native",
  "Astro",
  "Tailwind",
];
---

<Layout
  title="Home"
  pageTitle="Home"
  description="Home page for KheangCodes personal website."
>
  <main class="bg-pink p-6">
    <MobileSocials />
    <section id="about" class="grid md:grid-cols-8 gap-8 mt-4">
      <h2 class="hidden">About KheangCodes</h2>
      <div class="col-span-6">
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-xl md:text-3xl lg:text-5xl">
              Senior Software Engineer @<a
                class="underline decoration-blue-500"
                target="_blank"
                href="https://nham24.com/">Nham24</a
              >
            </p>
            <p class="mt-2 outfit text-small md:text-base lg:text-xl">
              Make magic by 💻.
            </p>
            <p class="mt-2 outfit text-base md:text-xl lg:text-2xl">
              previously: <a
                class="underline decoration-blue-500"
                target="_blank"
                href="https://groupincorp.com/">@GroupIn</a
              >
            </p>
            <p class="mt-2 outfit text-xl md:text-2xl lg:text-4xl">
              Located in Phnom Penh, 🇰🇭
            </p>
          </div>
          <div class="flex justify-end">
            <Button target={"_self"} href="/blog">See what I do &rarr;</Button>
          </div>
        </Card>
      </div>
      <div class="col-span-2">
        <Image
          src={profileImg}
          alt="profile image of Kheang"
          class="object-cover h-[320px] w-full rounded-lg md:col-span-2 border-[3px] border-black card-shadow"
        />
      </div>
    </section>
    <section id="about" class="grid md:grid-cols-8 gap-8 mt-4">
      <h2 class="hidden">About KheangCodes</h2>
      <div class="flex col-span-4">
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <h2 class="text-2xl md:text-4xl lg:text-6xl mb-2 dm-serif">
              What's keeping me busy?
            </h2>
            <div class="flex justify-between items-center">
              <ul class="flex flex-wrap gap-4 mt-2">
                {
                  skills.map((tag) => {
                    return (
                      <li>
                        <a
                          class="sanchez"
                          href={`/blog/tags/${tag.toLowerCase()}/`}
                        >
                          <Pill>{tag}</Pill>
                        </a>
                      </li>
                    );
                  })
                }
              </ul>
            </div>
          </div>
        </Card>
      </div>
      <div class="col-span-4">
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <h2 class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif">
              Who am I?
            </h2>
            <p class="poppins">
              Hello, I'm Kheang, a software engineer based in Cambodia with a
              diverse background in web and mobile development. My journey in
              the tech world began in 2016 when I joined Morakot Technology as a
              Web Developer, specializing in Python with the Flask web
              framework. During my time there, I contributed to the development
              and maintenance of the Core-banking System, ensuring its robust
              and efficient functionality.
            </p>
            <p class="poppins mt-2">
              In 2018, I ventured into mobile app development, serving as the
              Lead Mobile Developer at GroupIn, where I used React Native to
              design and develop cross-platform applications for both iOS and
              Android.
            </p>
            <p class="poppins mt-2">
              Currently, as a Senior Software Engineer at NHAM24 since June
              2023, I'm actively leading and participating in the development of
              high-quality mobile applications using the React Native framework,
              leveraging my extensive experience in the field.
            </p>
          </div>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
